@keyframes glow {
    0% {
        text-shadow: 0 0 5px #ff0000;
    }
    50% {
        text-shadow: 0 0 20px #ff0000, 0 0 30px #ff00ff, 0 0 40px #00ffff;
    }
    100% {
        text-shadow: 0 0 5px #ff0000;
    }
}

.glow-text {
    font-size: 36px;
    color: #ffffff;
    animation: glow 2s infinite alternate;
} 
input[type=text],input[type=date],input[type=time],select, input[type=password],input[type=email],input[type=number],input[type=file]{
    width: 100%;
    background-color: transparent;
    color: #011a1d;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #eeeeee 1px;
    padding: 3px 10px;
  }
  
  /* Style the label to display next to the inputs */
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  /* Style the submit button */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  /* Style the container */
  .container {
    border-radius: 5px;
    background-image: linear-gradient(#b8e2f5,#796296);
    padding: 20px;
    width: 3000px;;
    background-size: cover;
  }
  
  /* Floating column for labels: 25% width */
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  /* Floating column for inputs: 75% width */
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
  
